
  .mat-form-field {
    font-size: 14px;
  }
   canvas{
    width:900x !important; height:250px;
  }
  
  
  .selectpicker{
padding-left: 10%;
  }
  #buttom{
    color: rgb(158, 158, 158);
    float: right;
  }
  .mat-date-range-input-inner{
    color: black;
  }
  #canvasin{
    height: 50%;
    width: 100% !important;
  }
  tspan{
    display: none !important;
  }
  .chart-legend .legend-labels{
    overflow-x: scroll !important;
  }
  